rdkit
pdb2pqr
joblib
numpy
pandas
tqdm
PyYAML
biopython
biopandas
scipy
uniprot
fabric
termcolor
networkx
omegaconf
meeko
google-cloud-storage
matplotlib
scikit-learn
chembl_structure_pipeline

# todo:
# conda install -c conda-forge pdbfixer